*.pro.user
*.qmake.stash
*ui_*.h
*MOCS*
*OBJS*
*Makefile*
*.autosave
*.tmp*
*.log
*.~*

VMTools/BindingDesigner/exe/
VMTools/EyeDataAnalyzer/exe/
VMTools/RawDataServer/bin/
VMTools/BindingDesigner/outputs/*
VMTools/EyeTrackerFollower/exe/
VMTools/LocalDBPrinter/bin/
VMTools/LocalDBPrinter/exe/
VMTools/MassBindingFixationDrawer/exe/

VMSoftwareSuite/EyeServer/exe
VMSoftwareSuite/EyeServer/bin/etdir
VMSoftwareSuite/EyeServer/bin/EyeServerMonitor
VMSoftwareSuite/EyeServer/bin/EyeServer
VMSoftwareSuite/EyeServer/bin/QRC/
VMSoftwareSuite/EyeServer/bin/output/
VMSoftwareSuite/EyeServer/etdir/
VMSoftwareSuite/EyeServerMonitor/bin
VMSoftwareSuite/EyeUpdateServer/MOCS
VMSoftwareSuite/EyeUpdateServer/OBJS
VMSoftwareSuite/EyeUpdateServer/bin/EyeUpdateServer
VMSoftwareSuite/EyeUpdateServer/bin/EyeUpdateServerMonitor
VMSoftwareSuite/EyeUpdateServer/bin/etdir/
VMSoftwareSuite/EyeUpdateServer/bin/mail.php

VMSoftwareSuite/EyeDBmanager/bin/

VMSoftwareSuite/EyeReportGenerator/bin/MOCS
VMSoftwareSuite/EyeReportGenerator/bin/OBJS
VMSoftwareSuite/EyeReportGenerator/bin/QRC
VMSoftwareSuite/EyeReportGenerator/bin/EyeReportGen

VMSoftwareSuite/EyeExperimenter/exe32

Doc/*.aux
Doc/*.log
Doc/*.gz

Scripts/dbscripts/bkpDev/
Scripts/dbscripts/bkpProd/
Scripts/server_scripts/connect/s3bkp/
Scripts/server_scripts/bkp*/
Scripts/server_scripts/05InformationDownload/rawdata/
Scripts/php/composer.json
Scripts/php/composer.lock
Scripts/php/vendor/

