CodeRepository/*
*.pro.user
BindingDesigner/exe/
*.qmake.stash
*ui_*.h
*MOCS*
*OBJS*
*Makefile*
SSLClientDev/exe/
SSLServer/exe
EyeReportGenerator/exe/
EyeExperimenter/exe
ETFollower/exe/
PNGReportGenerator/exe/
ReportViewerDev/
*.autosave
*.tmp*
