*.pro.user
*.qmake.stash
*ui_*.h
*MOCS*
*OBJS*
*Makefile*
*.autosave
*.tmp*
*.log
*.~*
*.exe
*.pem
*local_flag_file
*local_config
*.cnf
*.kate-swp

CommonClasses/EyeTrackingInterface/HPReverb/hp/hp_omnicept.lib
VMTools/QtRestClient/exe/
VMSoftwareSuite/EyeExperimenter/exe2019/
VMTools/QtRestClient/bin/
VMTools/RawJSONDataDev/bin/
VMSoftwareSuite/EyeExperimenter/src/experiment_data/perception_study.dat.short
VMTools/RawDataServer/bin/local_config
VMTools/RawDataServer/bin/local_flag_file
VMTools/EyeDataAnalyzer/exe64
VMTools/QMLImageUpdater/exe/
VMTools/BindingDesigner/outputs/
VMTools/EyeTrackerFollower/exe/
VMTools/LocalDBPrinter/exe/
VMTools/MassBindingFixationDrawer/exe/
VMTools/Downsampler/bin/
VMTools/ConsoleReportGenerator/bin
VMTools/PupilLabsDemo/
VMTools/QtDX11Test/debug/
VMTools/QtDX11Test/exe/
VMTools/VRTest/exe/
VMTools/LocalDBPrinter/bin/
VMTools/EyeDataAnalyzer/exe/
VMSoftwareSuite/EyeDBmanager/bin/EyeDBmanager
VMTools/RawDataServer/bin/LOGDIR/
VMTools/RawDataServer/bin/RawDataServer
VMTools/RawDataServer/bin/work/
VMSoftwareSuite/EyeReportGenerator/bin/res/tempvar
VMTools/QtOpenGLTest/bin/
VMTools/QMLDev/exe/
VMTools/PartnerAPIDev/bin/
VMTools/ExperimentDev/exeQt6/
VMTools/QtRestClient/exeQt6/
VMTools/HPOmniceptTest/exe/
VMTools/HPOmniceptTest/hptest.zip
VMSoftwareSuite/EyeExperimenter/Yappo1/
VMSoftwareSuite/EyeExperimenter/Yappo2/
VMTools/QMLDev/QMLDev/resources/
VMTools/OldDBToJSon/bin/
VMSoftwareSuite/EyeExperimenter/src/images/ViewMind.zip
VMSoftwareSuite/EyeExperimenter/src/images/ViewMind/
VMSoftwareSuite/EyeExperimenter/src/images/ic/
VMSoftwareSuite/EyeExperimenter/src/languages_old/
VMSoftwareSuite/EyeExperimenter/src/qml_old/
VMSoftwareSuite/EyeExperimenter/src/font/filter_out/